@import "scss/modules/all";

li {
  list-style: none;
}

a {
  color: $black;

  &:hover,
  &:visited {
    color: $black;
  }
}

.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.center-align {
  display: flex;
  align-items: center;
  flex: 1;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-center {
  margin: 0 auto;
}

.content {
  width: 100%;
}

// UIKit Compoennts
.uk-button-default,
.uk-select {
  color: $black;
  &:hover,
  &:enabled {
    color: $black;
  }
}

.uk-button-default,
.uk-select {
  background-color: #ffffff;
  text-align-last: center;

  &:hover,
  &:enabled {
    border: 1px solid #e5e5e5;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"] {
  padding: 0;
  width: 50px;
  text-align: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) {
  .content {
    width: 50%;
  }
  .hv-center {
    margin-bottom: 15vh;
  }
}
