@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');
$header-font: 'Oswald', sans-serif;
$base-font: 'Roboto', sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: $base-font;
$base-font-weight: $regular;

$base-line-height: 1.4;

// Headings
$header-font-family: $header-font;
$header-font-weight: $bold;

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
	@if $mq2 == false {
		@media ($maxmin: $mq01) {
			@content;
		}
	} @else {
		@media (min-width: $mq01) and (max-width: $mq2) {
			@content;
		}
	}
}

// Center div
#centerdiv {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
}


// Container
.container {
	width: auto;
	max-width: 1000px;
	padding: 0 15px;
}

li {
	list-style: none;
}
@import "scss/modules/all"
