@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
$header-font: "Lato", serif;
$base-font: 'Roboto', sans-serif;
// Font weights
$light: 100;
$regular: 400;
$bold: 600;
// Base Font
$base-font-family: $base-font;
$base-font-weight: $regular;
$base-line-height: 1.4;
// Headings
$header-font-family: $header-font;
$header-font-weight: $bold;
// Bootstrap

@import "scss/modules/all"
