body {
  font-family: $base-font-family;
  @include font-size-map($body-font-size);
}

h1 {
  font-family: $header-font-family;
  @include font-size-map($h1-font-size);
}

h2 {
  font-family: $header-font-family;
  // @include font-size-map($h2-font-size);
}

h4,
h5,
h6 {
  font-family: $base-font-family;
}

.NavLink {
  font-family: $header-font-family;
  font-size: 18px;
}
