@import "scss/modules/colours";

body {
  @include font-size-map($body-font-size);
  font-family: $base-font-family;
}

h1,
h2,
h3 {
  font-family: $header-font-family;
}

h4,
h5,
h6 {
  font-family: $base-font-family;
}

.base-font {
  font-family: $base-font-family;
}

.nav-link {
  font-family: $header-font-family;
  font-size: 18px;
}
