.title, .subtitle
  vertical-align: middle
  padding: 0px 30px
.title
  @extend .font

  font-family: $header-font
  font-size: 50px

.subtitle
  @extend .font

  font-family: $body-font
  font-size: 15px

.uk-navbar-nav li a
  font-family: $body-font
  font-size: 15px
  padding: 0px 70px
