.uk-navbar-container
  padding-top: 50px

.uk-navbar-nav li a
  font-family: $body-font
  // font-size: 15px
  color: white
  padding: 3vw

.uk-navbar-nav li a:hover
  color: $color-active-link

.uk-navbar-nav > li.uk-active > a
  color: $color-active-link

.subtitle
  @extend .font

  vertical-align: middle
  padding: 0px 20px
  font-family: $body-font
  font-size: 17px
