.footer {
	position: relative;
	bottom: 30px;
	width: 100;

	/* Set the fixed height of the footer here */
	min-height: 75px;

	.row {
		padding-top: 25px;
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 576px) {
		.col-sm {
			margin-right: 60px;
		}
	}
}
