// navbar.scss

.navbar {
	padding: 30px 0 30px;
	margin: 0;
	border-width: 0;
}

.navbar-brand {
	display: flex;
	align-items: center;
	padding-left: 0;
}

.navbar-collapse {
	padding: 0;
}

@media (min-width: 576px) {
	.navbar {
		padding: 2vh;
		margin: auto;
	}
}