.picture {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 30vh;
    width: 30vh;
    margin: 10px;
}

@media (min-width: 576px) {
    .picture {
        margin: 0;
    }
}