// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}
// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: em($font-size);
    } @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
      }
    }
  }
}

// body font size
$browser-context: 16;

// typography scale
$body-font-size: (
  null: 16,
  $md: 15,
  $sm: 14,
  $xs: 13
);
$h1-font-size: (
  null: 48
);

$h2-font-size: (
  null: 24px
);
