@import url("https://fonts.googleapis.com/css?family=Lato");

// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}
// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: em($font-size);
    } @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
      }
    }
  }
}

// Breakpoint Mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  } @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

$header-font: "Lato", sans-serif;
$base-font: "Helvetica", sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// Base Font
$base-font-family: $base-font;
$base-font-weight: $regular;
$base-line-height: 1.4;

// body font size
$browser-context: 16;

// Headings
$header-font-family: $header-font;
$header-font-weight: $bold;

// typography scale
$body-font-size: (
  null: 15,
  $md: 15,
  $sm: 14,
  $xs: 14
);