// Product Info
// styles.scss

@import 'scss/modules/colours';

.slick-dots {
  bottom: 0;
  position: relative;

  li {
    height: 75px;
    margin-top: 10px;
    width: 75px;
  }
}

.product-info {
  margin: 20px 0;
}

.product-desc {
  line-height: 2rem;
}

.input-form {
  padding-bottom: 10px;

  .uk-form-width-small {
    margin-right: 10px;
  }

  .uk-form-width-small:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .product-info {
    margin: 0;
  }
}