// navbar.scss
@import "scss/modules/colours";
@import "scss/modules/typography";

.uk-navbar {
  background-color: $black;
}

.uk-navbar-nav {
  li {
    padding: 0 15px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    a {
      color: $faded;
      font-family: $base-font;
      font-weight: bold;
      padding: 0;
      text-decoration: none;
    }
  }
}

.navbar-link {
  color: $faded;
  font-family: $base-font;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
}

.active-navbar-link {
  color: $white;
}