// navbar.scss
@import 'scss/modules/colours';
@import 'scss/modules/typography';

.uk-navbar {
  background-color: black;
}

.uk-navbar-nav>li>a {
  color: $faded;
  font-weight: bold;
  font-family: $base-font;
}

.active-navbar-link {
  color: $white;
}
