// footer.scss

.footer {
  margin: 25px 0 0px;
  min-height: 75px;
  position: relative;
  width: 100; // Set the fixed height of the footer here
  text-transform: uppercase;

  hr {
    margin-top: 0;
  }
}

.footer-menu {
  padding: 0;
  li {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) {
  .footer-menu {
    padding: 0;
    li {
      margin: 10px;
      display: inline;
    }
  }
}
