// footer.scss

.footer {
  min-height: 75px;
  padding: 30px;
  position: relative;
  width: 100; // Set the fixed height of the footer here

  hr {
    margin-top: 0;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 576px) {
    .col-sm {
      margin-right: 60px;
    }
  }
}
