// footer.scss

.footer {
  margin: 25px 0 50px;
  position: relative;
  width: 100; // Set the fixed height of the footer here

  hr {
    margin-top: 0;
  }

  .footer-menu > li {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) {

  .footer-menu > li {
    display: inline;
    padding-right: 10px;
  }
}
